@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;700&display=swap');


*{

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none ;
    text-transform: capitalize;
    transition: all .2s linear;
} 

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:rgb(50, 50, 50);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


header .logo img{
    height:60px;
    width: 60px;
}

header .navbar a
{
   font-size: medium;
   padding: 5px 15px;
   color: #cdaa7c;
   border: 2px solid transparent;
}

header .navbar a.active,
header .navbar a:hover
{
    color:#fff;
    border: 2px solid rgba(205,170,124,0.2);
}
header .icons i
{
   cursor: pointer;
   margin-left:5px ;
   height: 30px;
   width: 30px;
   line-height: 30px;
   background: #cdaa7c;
   text-align: center;
   font-size: medium;
   color:#fff;
}

header .icons i:hover{
    color: #fff;
    background-color: #cdaa7c;
    transform: rotate(360deg);
}
.txt{
    position: absolute;
    top: 40%;
    color: white;
    font-size: 60px;
    padding-left: 30px;
    letter-spacing: 7px;
    color: #cdaa7c;
}
.mmm{
    padding-bottom: 12px;
    font-size: 15px;
}
.menu1{
    padding-left: 20px;
    background-color: #dfc4a0;
}

.heading{
    padding-top: 20px;
    text-align: inline;
    color: black;
    font-size: 4.5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.sub-heading{
    text-align: center;
    color:#cdaa7c;
    font-size: 2.5rem;
    padding-bottom: .5rem 2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    background: black;
    display:inline-block ;
}

.menu{
    display: flex;
    padding: 40px;
}
.menu img ,h1 ,p{
    width: 30%;
}
.menu div{
    padding-top: 30px;

}


.footer{
    padding-top: 20px;
    text-align: center;
    background: #333;
    color: #b2b2b2;
    font-size: 1.3rem;
}

.footer .container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,2fr));
    color: #b2b2b2;
    grid-gap: 1rem;
    padding: 4rem 0;
    border-bottom: 1px solid #b2b2b2;
}
.footer .container div{
   padding: 0 7rem; 
}

.footer .container h3{
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: .8rem;
   
}

.footer .container input{
    width:100%;
    border: 1px solid #b2b2b2;
    padding: .5rem .8rem;
    background: transparent;
    border-radius: 20px;
}

.footer .container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.footer .container ul li a{
    color: #b2b2b2;
    margin-left: 10px;
    font-size: 18px;
}


.footer .container p{
   
    justify-content: center;
}
